/* 
    Document   : ownModifications
    Created on : 31.10.2014, 12:37:53
    Description:
        Purpose of the stylesheet follows.
*/

/*
.well {
    background-color: #F5A300;
}

.panel-default>.panel-heading {
  color: #000000;
  background-color: #9d9d9d;
  border-color: #9d9d9d;
}

.main{
    background-color: #F5A300;
}
*/

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 8px;
  margin-bottom: 5px;
}


.dimmed { 
    color: #999;
}

.dimmed h3 {
    color: #999;
}

