<div id="courseInfo">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title row">
                <div class="col-md-12">
                    <a href="/course/view.php?id={{course.data.id.v}}" target="_blank" style="color: #000000">{{course.data.fullname.v}}</a>
                    
                    <div class="btn-group btn-group-xs pull-right" role="toolbar" ng-show="course.data">
                        <a href="/course/edit.php?id={{course.data.id.v}}" target="_blank">
                            <button type="button" class="btn btn-default" aria-label="Edit Course">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </a>
                        <a href="/course/delete.php?id={{course.data.id.v}}" target="_blank">
                            <button type="button" class="btn btn-default" aria-label="Delete Course">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </a>
                        <a>
                        <button type="button" class="btn btn-default" aria-label="Hide Course from Students" ng-show="course.data.visible.v == 1" ng-click="changeVisibility(course.data.id.v, 0);">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                        </a>
                        <a>
                        <button type="button" class="btn btn-default" aria-label="Make Course visible to Students" ng-show="course.data.visible.v == 0" ng-click="changeVisibility(course.data.id.v, 1);">
                            <span class="glyphicon glyphicon-eye-close"></span>
                        </button>
                        </a>
                    </div>
                </div>
            </div>  <!-- panel-title -->
        </div>  <!-- panel-heading -->
        
        <div class="panel-body">
            <loader ng-show="loadingCourse"></loader>
            <div class="table">
                <div class="row">
                    <div class="col-md-4">{{course.data.id.string}}</div>
                    <div class="col-md-8">{{course.data.id.v}}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">{{course.data.shortname.string}}</div>
                    <div class="col-md-8">{{course.data.shortname.v}}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">{{course.data.fullname.string}}</div>
                    <div class="col-md-8">{{course.data.full.v}}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">{{course.data.idnumber.string}}</div>
                    <div class="col-md-8">{{course.data.idnumber.v}}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">{{course.data.visible.string}}</div>
                    <div class="col-md-8">{{course.data.visible.v}}</div>
                </div>
                <!-- 
                <div class="row" ng-repeat="item in course.data">
                    <div class="col-md-4">{{item.string}}</div>
                    <div class="col-md-8">{{item.v}}</div>
                </div>
                -->
            </div>

            <div class="tab" ng-controller="CourseDetailTabController as CourseDetailTab">
                <ul class="nav nav-pills">
                    <li ng-class="{ active: CourseDetailTab.isSet(1) }">
                        <a href ng-click="CourseDetailTab.setTab(1)">Users in Course</a>
                    </li>
                    <li ng-class="{ active: CourseDetailTab.isSet(2) }">
                        <a href ng-click="CourseDetailTab.setTab(2)">Activities in Course</a>
                    </li>
                </ul>

                <div ng-show="CourseDetailTab.isSet(1)">
                    <blockquote>
                        <div id="dashboardUsersInCourse">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"></h3>
                                    <div id="usersInCourse_name_filter_div"></div>
                                    <div class="row">
                                        <div class="col-md-6" id="usersInCourse_role_filter_div"></div>
                                    </div>
                                </div>
                                <div class="panel-body" id="usersInCourse_table_div"></div>
                            </div>
                        </div>
                    </blockquote>
                </div>

                <div ng-show="CourseDetailTab.isSet(2)">
                    <blockquote>
                        <div id="dashboardActivitiesInCourse">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"></h3>
                                    <div id="activitiesInCourse_name_filter_div"></div>
                                    <div class="row">
                                        <div class="col-md-4" id="activities_sectionnr_filter_div"></div>
                                        <div class="col-md-4" id="activities_section_filter_div"></div>
                                        <div class="col-md-4" id="activities_type_filter_div"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body" id="activitiesInCourse_table_div"></div>
                        </div>
                    </blockquote>
                </div>
            </div>  <!-- tab -->
        </div>  <!-- panel-body -->
    </div>  <!-- panel-primary -->
</div>