<div class="panel panel-default">
    <div class="panel-heading">
        <h2>{{newcourse.vocabulary.newcourse}}</h2>
    </div>
    
    <div class="panel-body">
        <form name="form" novalidate>
            <div class="row">
                <div class="col-md-2">
                    {{newcourse.vocabulary.shortname}}
                </div>
                <div class="col-md-10">
                    <input type="text" placeholder="{{newcourse.vocabulary.shortname}}" ng-model="newcourse.shortname" name="shortname" required="" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{newcourse.vocabulary.fullname}}
                </div>
                <div class="col-md-10">
                    <input type="text" placeholder="{{newcourse.vocabulary.fullname}}" ng-model="newcourse.fullname" name="fullname" required="" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{newcourse.vocabulary.category}}
                </div>
                <div class="col-md-10">
                    <select ng-model="newcourse.category">
                        <option ng-repeat="category in allCategories" value="{{category.id}}">{{category.name}}</option>
                    </select>
                </div>
            </div>
    
            <p></p>
    
            <div class="row">
                <div class="col-md-12">
                    <input type="radio" ng-model="password" value="nopassword" /> {{newcourse.vocabulary.nopassword}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="radio" ng-model="password" value="userpassword" />
                    <input type="text" placeholder="{{newcourse.vocabulary.password}}" ng-model="newcourse.userpassword" name="password" required="" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="radio" ng-model="password" value="randompassword" /> Random {{newcourse.vocabulary.password}}
                </div>
            </div>
    
            <p></p>
    
            <button type="button" class="btn btn-default" aria-label="newcourse.vocabulary.createnewcourse" ng-click="createNewCourse()">
                <span class="glyphicon glyphicon-plus"></span> {{newcourse.vocabulary.createnewcourse}}
            </button>
        </form>
    </div> <!-- panel-body -->
</div> <!-- panel panel-default -->


