<!--
This page contains a form to create a new course.
-->

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>{{vocabulary.newcourse}}</h3>
    </div>
    
    <div class="panel-body">
        <form name="form" novalidate>
            <div class="row">
                <div class="col-md-2">
                    {{vocabulary.shortname}}
                </div>
                <div class="col-md-10">
                    <input type="text" placeholder="{{vocabulary.shortname}}" ng-model="shortname" name="shortname" required="" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{vocabulary.fullname}}
                </div>
                <div class="col-md-10">
                    <input type="text" placeholder="{{vocabulary.fullname}}" ng-model="fullname" name="fullname" required="" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{vocabulary.category}}
                </div>
                <div class="col-md-10">
                    <select ng-model="category">
                        <option ng-repeat="category in allCategories | toArray | orderBy:'name'" value="{{category.id}}">{{category.name}}</option>
                    </select>
                </div>
            </div>
    
            <p></p>
    
            <div class="row">
                <div class="col-md-12">
                    <input type="radio" ng-model="password" value="nopassword" /> {{vocabulary.nopassword}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="radio" ng-model="password" value="userpassword" />
                    <input type="text" placeholder="{{vocabulary.password}}" ng-model="userpassword" name="password" required="" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="radio" ng-model="password" value="randompassword" /> Random {{vocabulary.password}}
                </div>
            </div>
    
            <p></p>
    
            <button type="button" class="btn btn-default" aria-label="newcourse.vocabulary.createnewcourse" ng-click="createNewCourse()">
                <span class="glyphicon glyphicon-plus"></span> {{vocabulary.createnewcourse}}
            </button>
            
            <button type="button" class="btn btn-default" aria-label="newcourse.vocabulary.reset" ng-click="reset()">
                <span class="glyphicon glyphicon-file"></span> {{vocabulary.reset}}
            </button>
        </form>
    </div> <!-- panel-body -->
</div> <!-- panel panel-default -->


