<div id="userInfo">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title row">
                <div class="col-md-12">
                    <a href="/user/profile.php?id={{user.id.v}}" target="_blank" style="color: #000000">{{user.firstname.v}} {{user.lastname.v}}</a>
                    <a href="/user/editadvanced.php?id={{user.id.v}}" target="_blank">
                        <button type="button" class="btn btn-default pull-right" aria-label="Edit User">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </a>
                </div>
            </div>  <!-- panel-title -->
        </div>  <!-- panel-heading -->

        <div class="panel-body">
            <loader ng-show="loadingUser"></loader>
            <div class="table">
                <div class="row panel-body" ng-show="course.data.id.v">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-4">
                                <button ng-click="addUserToCourse(user.id.v, course.data.id.v, selectedRole);" type="button" class="btn btn-default" aria-label="">
                                    <span class="glyphicon glyphicon-arrow-left"></span> {{vocabulary.enrol}}
                                </button>
                            </div>
                            <div class="col-md-8">
                                <label>{{vocabulary.role}} ({{vocabulary.default}}: {{vocabulary.student}}):</label>
                                <select ng-model="selectedRole">
                                    <option ng-repeat="role in course.data.roles.v" value="{{role.id}}">{{role.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-4">{{user.id.string}}</div>
                    <div class="col-md-8">{{user.id.v}}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">{{user.username.string}}</div>
                    <div class="col-md-8">{{user.username.v}}</div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-4">{{user.firstname.string}}</div>
                    <div class="col-md-8">{{user.firstname.v}}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">{{user.lastname.string}}</div>
                    <div class="col-md-8">{{user.lastname.v}}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">{{user.email.string}}</div>
                    <div class="col-md-8"><a href="mailto:{{user.email.v}}">{{user.email.v}}</a></div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-4">{{user.firstaccess.string}}</div>
                    <div class="col-md-8">{{user.firstaccess.v}}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">{{user.lastlogin.string}}</div>
                    <div class="col-md-8">{{user.lastlogin.v}}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">{{user.lastaccess.string}}</div>
                    <div class="col-md-8">{{user.lastaccess.v}}</div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-4">{{user.auth.string}}</div>
                    <div class="col-md-8">{{user.auth.v}}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">{{user.lang.string}}</div>
                    <div class="col-md-8">{{user.lang.v}}</div>
                </div>
                <p></p>
                <div id="dashboardCoursesOfUser">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-title">
                            <h4>{{vocabulary.searchcourses}}</h4>    
                        </div>
                        <div class="panel-body">
                            <div id="coursesOfUser_name_filter_div"></div>
                            <div class="row">
                                <div class="col-md-4" id="coursesOfUser_grandparentcategory_filter_div"></div>
                                <div class="col-md-4" id="coursesOfUser_parentcategory_filter_div"></div>
                                <div class="col-md-4" id="coursesOfUser_role_filter_div"></div>
                            </div>
                            <div id="coursesOfUser_table_div"></div>
                        </div>
                    </div>
                </div>
                <!--
                <div class="row" ng-repeat="user in user">
                    <div class="col-md-4">{{user.string}}</div>
                    <div class="col-md-8">{{user.v}}</div>
                </div>
                -->
            </div>  <!-- table -->
        </div>  <!-- panel-body -->
    </div>  <!-- panel-primary -->
</div>